<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HDTestSomething.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF51DD221ED27E790018F2C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF51DD3B1ED27E7A0018F2C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF51DD461ED27E7A0018F2C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
